.container{
   max-width: 1170px;
   padding: 0 15px;
   margin: auto;
}

h1{
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
}

h2{
   font-family: "Raleway";
   font-weight: 400; 
   font-size: 36px;
   line-height: 42px; 
   padding-top: 54px;
   
}

h3{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;  
}

p{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
}
      
.tit__block{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
}


.tit__block__title{
   text-transform: uppercase;
   text-align: center;
   margin-top: 50px;
   
  
}
.tit__block__title:after{
   content: "";
   display: block;
   width: 170px;
   height: 1px;
   background-color: #EC7979;
   margin: 54px auto 40px;
   
   
}

.tit__block__text{
   color: #86878B;   
} 

.awesome__allcards{
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
   margin-top: 70px;
   text-align: center;
   padding-bottom: 58px;   
}
.awesome__card{
   display: flex;
   flex-direction: column;
   align-items: center;   
   }
.awesome__card__title{
   margin-top: 30px;
   margin-bottom: 41px ;
}
.awesome__card__text{
   padding: 0 15px;
}

.price{
   background-color: #F5F5F5;
}

.price__allblocks{
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
   margin-top: 79px;
   text-align: center; 
   padding-bottom: 50px;

   
}

.price__block{
   width: 100%;
}

.price__block__title{
   color: #FFFFFF;
   background-color: #333333 ;
   padding: 12px 0px;
   border: 2px solid #F5F5F5;
}

.price__block__cost{
   font-family: 'Raleway' sans-serif;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   color: #FFFFFF;
   padding: 25px 0px;
   background-color: #333333;
   border: 2px solid #F5F5F5;
}

.price__block__text{
   padding: 15px 0px;
   color:  #86878B;
   background-color:#333333;
   border: 2px solid #F5F5F5;
}

.price__block__desc{
   padding: 12px 0px;
   color: #86878B;
   background-color: #FFFFFF;
   border: 2px solid #F5F5F5;
}

.block_shadow{
   margin-top: -20px;
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
   
}

.feedback__all{
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
   margin-top: 83px;
   text-align: left;
   padding-bottom: 64px;  
}

.feedback__text{
   text-align: center;
   background: #E2E2E2;
   border-radius: 10px;
   padding: 38px 20px;
}
.feedback__text__desc{
   color: #86878B;
}

.triangle{
   height: 0;
   width: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 20px solid #E2E2E2;
   margin-left: 70px;
}

.feedback__item{
   display:flex;
   margin-top: 46px;
}

.feedback__foto{
   width: 70px;
   border-radius: 50%;
   margin-right: 30px;

}

.feedback__name__title{
   padding: 10px 0px;
   margin-bottom: 15px;
}